* {
    background-color: rgb(11, 57, 57);
}

.grid {
    width: 800px;
    height: 800px;
    border: 1px solid red;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}


.tile {
    width: 80px;
    height: 80px;
    border: 3px rgb(63, 63, 63) solid;
    box-sizing: border-box;
    background-color: rgb(173, 173, 173);
}

.red {
    background-color: red;
}